*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer{
    background-color: brown;
    color: antiquewhite;
    text-align: center;
}
main{
    margin : 0 auto;
    width: 80%; 
    background-color: red;
}
header{
    background-color: blue;
    height: 100px;

}